.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'Rubik', sans-serif;
}

.has-text-maroon {
    color: maroon;
}

.is-maroon {
    background-color: maroon;
}

.has-text-gold {
    color: gold;
}

a.has-text-gold:hover {
    color: lightpink;
}

.is-gold {
    background-color: gold;
}

.bottom-line {
    border-bottom: 2px solid gold;
}

.bg-hiking {
    background-image: url('images/bg-hiking.jpg');
}

.bg-canoing {
    background-image: url('images/bg-canoing.jpg');
}

.bg-campfire {
    background-image: url('images/bg-campfire.jpg');
}